{
    "extends": [
        "@iportfolio/eslint-config-iportfolio"
    ],
    "rules": {
        "prefer-destructuring": "off",
        "import/no-unresolved": 0,
        "no-continue": "off",
        "no-plusplus": "off",
        "no-empty-function": "off",
        "class-methods-use-this": "off"
    }
}