# package directories
node_modules
jspm_packages
package-lock.json
.nvmrc

# Serverless directories
.serverless
.build

# IDE specific directories
.idea

# Test Output
test/output
tmp/output
coverage
